:root {
    --circle-radius: 50px;
    --fade-in-out-duration: 2s;
}

html,
body {
  margin: 0;
  overflow: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0;
}

#root-container {
    /* Make the grid fit the entire page */
    width: 100vw;
    height: 100vh;
    display: grid;
    
    /* Define the grid as having:display:
     - 2 columns (with one being 3 times as large as the other)
     - 3 equally sized rows
    */
    grid-template-columns: auto 30%;
    grid-template-rows: repeat(3, 1fr);

    /* Specify which element occupies which row/column */
    grid-template-areas:
        "node-graph term-selector-container"
        "node-graph course-information-container"
        "node-graph program-information-container";
}

#node-graph-container {
    grid-area: node-graph;
}

#search-course {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color:blueviolet;
    border: 3px solid black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

#term-selector-container {
    grid-area: term-selector-container;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    justify-items: center;
    background-color:aliceblue;
}

#course-term-selector {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#course-information-container {
  grid-area: course-information-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 5% 5%;
  background-color:paleturquoise;
}

#course-information-content {
  color:black;
}

#program-information-container {
    grid-area: program-information-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 5% 5%;
    background-color:#FEF5E7;
}

.section-title {
  align-self: center;
  color:purple;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  
}

.course-text {
   user-select: none;
}

.circle {
    stroke: black;
    stroke-width: 3px;
    fill: white;
    paint-order: fill;
    clip-path: url(#clip-path);
}

.circle.future {
    fill: purple;
}

.circle.current {
    fill: green;
}

.circle.completed {
    fill: gray;
}

.circle.selected {
    fill: lightgoldenrodyellow;
}

.circle.desireable {
    stroke: hsl(37, 91%, 44%);
    stroke-width: 10px;
    /*These are needed to make the transformations relative to the center of the circle*/
    transform-origin: center;
    transform-box: fill-box;
}

.circle,
#clip-path-circle {
    cx: var(--circle-radius);
    cy: var(--circle-radius);
    r: var(--circle-radius);
}

.coursename {
    color: black;
    font-weight: bold;
}

.coursecode {
    color: black;
    font-weight: bold;
}

.program {
    font-weight: bold;
}

.graduation {
    font-weight: bold;
}

#root-svg {
    background:#ddd6f3 ;
}

#root-svg.can-pan {
    cursor: grab;
}
#root-svg.panning {
    cursor: grabbing;
}

/* ==== Schedule content start ==== */
:root {
    --num-days: 5;
    --column-count: calc(var(--num-days) + 1); 
    --column-width: calc(100%/var(--column-count));

    --hours-in-schedule-day: 9.5; /*9am to 630pm*/
    --timeslot-length-in-hours: 0.5; /*30 mins*/
    --timeslot-count: calc(var(--hours-in-schedule-day) / var(--timeslot-length-in-hours));
    --timeslot-height: calc(100%/var(--timeslot-count));
}

#schedule-content {
    position: relative;
    width: 90%;
}

#schedule-content ul {
    padding: 0;
    margin: 0;
    border: 1px solid rgb(85, 85, 85);
}

#schedule-content li {
    list-style: none;
    font-size: small;    
    border-bottom: 1px solid hwb(218 71% 2%);
}

#schedule-content .course {
    width: var(--column-width);
    margin-left: var(--column-width); /*One indexing for days*/
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#weekdays {
    display: flex;
    justify-content: space-between;
    padding-left: var(--column-width);
}

.weekday {
    width: var(--column-width);
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
}
/* ==== Schedule end start ==== */

.title {
  color: blueviolet;
  font-weight: bold;
}
.button {
  background-color:blueviolet;
  border: 3px solid black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 4px 4px white, 4px 4px 0px 3px black;
}

.button:hover {
  background-color:orangered;
  transition: box-shadow 0.25s, transform 0.25s;
  transition-timing-function:ease;
  box-shadow: 0px 0px white;
  transform: translateY(4px) translateX(4px);
}

.button:active {
  background-color:orangered;
}
.select {
    background-color:blueviolet;
    border: 3px solid black;
    color: white;
    padding: 10px 20px;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 4px 4px white, 4px 4px 0px 3px black;
}

#error {
    position: absolute;
    background: purple;
    animation: fadeInOut var(--fade-in-out-duration) linear forwards;
    padding: 1em 1em;
    font-size: large;
    z-index: 1;
    color: white;
    user-select: none;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0 }
    15%,50% { opacity: 1 }
}
